.container {
  background-color: #004D44;
}

.intro h2 {
  visibility: hidden;
}
.entry {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}
.divider h2 {
  text-align: center;
}
.create {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

