.container {
  background-color: #004D44;
}

.intro  {
  visibility: hidden;
}

button:not(#cancel) {
  background-color: #004D44 !important;
}

/* .password-label {
  visibility: hidden
} */

.changeClaims {
  visibility: hidden;
}

.companyLogo {
  margin-top: 20px !important;
}

/* .entry {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
} */
/* .divider h2 {
  text-align: center;
} */
/* .create {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
} */



#attributeList ul li label {
  text-align: center !important;
  display: block !important;
}
/* 
#attributeList ul li .attrEntry .verify .verifyButton {
 margin-right: auto !important;
 display: block !important; 
} */